.App {
  text-align: center;
  background-color: #131316;
  min-width: 1280px;
  display: flex;
  font-family: "Jet Brains Mono", Arial, sans-serif;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  display: flex;
  flex-direction: row;
}
